---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Lucas Hsing" description="About Lucas Hsing">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/LHFencing.PNG"
					alt="Fencing Photo of Lucas Hsing"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I’m a UX researcher and strategist based in New York City, with a background in Human-Computer Interaction and a passion for working at the intersection of emerging technology, healthcare, and user advocacy. I hold an MSc in HCI from the University of Nottingham and a BA in Psychology from New York University. I’m always open to conversations about design, research, and the future of tech.	
					</p>
					<br>
					<p>
						Here’s a snapshot of the work I’ve done so far:
					</p>
					<br>
					<p>
						In my MSc dissertation, <i>Consumer Perceptions, Trust, and Implications on User-Assisted AI Journalism</i>, I designed and conducted qualitative and quantitative studies, including running focus groups and creating and testing prototypes, to explore how consumers interpret AI-generated content and identify key factors influencing trust. Beyond research execution, I conceptualized, designed, and defended my dissertation to a panel of experts. My findings informed the development of a prototype aimed at addressing user concerns about AI-generated journalism, demonstrating how targeted design solutions can enhance transparency and credibility in AI-driven tools.

					</p>
					<br>
					<p>
						At Accenture Strategy, I worked on high-impact projects for Fortune 500 clients across technology, healthcare, and pharmaceutical industries. In a project for a medical device company, I led stakeholder interviews, in both English and Japanese, and market analysis to assess the potential of adopting 3D surgical modeling tools in Japan. Through early-stage interviews with surgeons and hospital administrators, I identified key barriers to adoption, including challenges in the usability of the equipment, cultural hesitations toward subscription-based pricing models, and availability of on-site IT support in hospitals. By highlighting these insights, I recommended changes to the client’s marketing approach, ensuring a stronger product-market fit for Japan.
					</p>
					<br>
					<p>
						I have experience in both leading teams and working in a collaborative environment. In a cross-functional project assessing payer strategies in the pharmaceutical space, I worked alongside senior consultants and external experts to synthesize findings into actionable items. Balancing different viewpoints, I facilitated discussions that shaped our strategies while also aligning research findings with business needs.
					</p>
					<br>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5 class="w3-opacity"><b>University of Nottingham</b></h5>
					<h6 class="w3-text-teal"><i>Master of Science in Human-Computer Interaction</i></h6>
					<h6 class="w3-text-teal">2023 - 2024</h6>
					<p>
						GPA - 4.0 / With Distinction
					</p>
					<p>
						Dissertation on Consumer Perceptions, Trust, and Implications on User Assisted AI Journalism					
					</p>
					<p>
						Activities and societies: Student athlete in the Men's Varsity BUCS Fencing Team
					</p>
					<br>
					<p>
						Relevant Coursework: Cognitive Ergonomics • Design Ethnography • Mixed Reality 
					</p>
					<p>
						Advanced Human Machine Interfaces • Software Engineering Management
					</p>
					<br>
				    <h5 class="w3-opacity"><b>New York University</b></h5>
					<h6 class="w3-text-teal"><i>Bachelor of Arts in Psychology, Minor in Public Policy and Management</i></h6>
				    <h6 class="w3-text-teal">2017 - 2021</h6>
					<p>
						Major GPA - 3.8
					</p>
					<p>
						Activities and societies: Four-year student-athlete in the Men's Varsity NCAA Fencing Team					
					</p>
					<p>
						Elected Sophmore Cohort President
					</p>
					<br>
					<p>
						Relevant Coursework: Adv. Psychological Statistics • Cognitive Neuroscience • Management and Organizations Clinical Psychology • Abnormal Psychology
					</p>
					<br>
					<hr>
				</div>
			</section>
			<section>
				<h2 class="section-title">Work Experience</h2>
				<div class="content">
					<h5 class="w3-opacity"><b>University of Nottingham</b></h5>
					<h6 class="w3-text-teal"><i>Postgraduate Researcher</i></h6>
					<h6 class="w3-text-teal">2023 - 2024</h6>
					<ul>
						<p><b>Consumer Perceptions, Trust, and Implications of AI-Assisted Journalism</b></p>
						<li>
							Designed and conducted a mixed-methods study, utilizing focus groups, interviews, and a prototype of an AI news generation tool to gather data on user attitudes toward AI-generated news content
						</li>
						<li>
							Researched consumer perceptions and trust in AI-assisted journalism, analyzing the implications of automation on news credibility
						</li>
						<li>
							Assessed user trust and transparency surrounding AI in media and presented research to faculty and peers to inform discussions on AI ethics
						</li>
					</ul>
					<br>
				    <h5 class="w3-opacity"><b>Accenture Strategy</b></h5>
					<h6 class="w3-text-teal"><i>Research Analyst</i></h6>
				    <h6 class="w3-text-teal">2021 - 2023</h6>
					<ul>
						<p><b>3D Surgical Medical Device Opportunity Assessment</b></p>
						<li>
							Developed a market strategy for a Fortune 100 med tech company with a market cap of approx. $400 billion on the 3D surgical space in Japan
						</li>
						<li>
							Led stakeholder interviews in both English and Japanese, conducted competitive analysis and market sizing, and uncovered adoption barriers such as usability challenges and cultural hesitations
						</li>
						<p><b>Global Surgical Glaucoma Opportunity Assessment</b></p>
						<li>
							Surveyed the landscape of glaucoma surgical and drug/device therapies for a Fortune 100 med tech client with a market cap of approx. $400 billion
						</li>
						<li>
							Led workshops with stakeholders to prioritize opportunities and to select key therapies that aligned with the client’s portfolio, R&D capabilities and strategic goals
						</li>
						<p><b>In-Memory Computing (IMC) Market Analysis</b></p>
						<li>
							Performed a comprehensive market analysis for a Fortune 100 tech client with a market cap of approx. $100 billion through customer and user interviews to assess demand for a hardware-based IMC solution
						</li>
						<li>
							Probed thoughts on the scalability of IMC, the effect of similar technologies, potential use cases, and the perceived effectiveness of IMC technology
						</li>
					</ul>
					<br>
					<hr>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul class="list-disc">
						<li>
							Focus Groups
						</li>
						<li>
							User Interviews
						</li>
						<li>
							Ethnography
						</li>
						<li>
							Survey Crafting
						</li>
						<li>
							Wireframing
						</li>
						<li>
							Prototyping
						</li>
						<li>
							Usability Testing
						</li>
						<li>
							Python
						</li>
						<li>
							Java
						</li>
						<li>
							JavaScript
						</li>
					</ul>
					<br>
				</div>

				<h2 class="section-title">Tools</h2>
				<div class="content">
					<ul class="list-disc">
						<li>
							Figma / Miro
						</li>
						<li>
							R
						</li>
						<li>
							Github
						</li>
						<li>
							Excel / Google Sheets
						</li>
						<li>
							Google Analytics
						</li>
						<li>
							UserTesting
						</li>
						<li>
							Qualtrics
						</li>
					</ul>
					<br>
				</div>

			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
